.gitattributes
"Good Wolf (dark).itermcolors" export-ignore
"Good Wolf (dark).slack.csv" export-ignore
"Good Wolf (light).itermcolors" export-ignore
"Good Wolf (light).slack.csv" export-ignore
goodwolf-dark.jpg export-ignore
goodwolf-light.jpg export-ignore
